.landing-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.left-side img {
  width: 100%;
  display: block;
}

.right-side span {
  color: #e9c176;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 4.8px;
}

.right-side h1 {
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.right-side p {
  font-size: 16px;
  margin-bottom: 40px;
}

.right-side .explore-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.right-side .line {
  width: 60px;
  height: 2px;
  background-color: #c4c6cc;
}

.right-side .explore-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  padding: 0;
  transition: 0.3s ease;
}

.right-side .explore-btn:hover {
  color: #555;
  transform: translateX(4px);
}

/* landing area css end */

.latest-work {
  background: #f3f4f5;
}
