.landing-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.left-side img {
  width: 100%;
  display: block;
}

.right-side span {
  color: #e9c176;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 4.8px;
}

.right-side h1 {
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.right-side p {
  font-size: 18px;
  line-height: 29px;
  color: #44474c;
  margin-bottom: 20px;
}

.right-side .explore-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.right-side .line {
  width: 60px;
  height: 2px;
  background-color: #c4c6cc;
}

.right-side .explore-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  padding: 0;
  transition: 0.3s ease;
}

.right-side .explore-btn:hover {
  color: #555;
  transform: translateX(4px);
}

/* landing area css end */

.latest-work {
  background: #f3f4f5;
}

.mc-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc-card {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
}

.mc-image-area {
  width: 50%;
  position: relative;
}

.mc-image-area iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.mc-content {
  width: 50%;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.mc-content h2 {
  font-size: 36px;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
  font-style: italic;
}

.mc-content p {
  font-size: 16px;
  line-height: 29px;
  color: #44474c;
  margin-bottom: 35px;
}

.mc-tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.mc-tags span {
  padding: 10px 18px;
  background: #e7e8e9;
  border-radius: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #191c1d;
}

.mc-preview-btn {
  display: flex;
  align-items: center;
  gap: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mc-play-icon {
  width: 45px;
  height: 45px;
  background: #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mc-play-icon svg {
  color: white;
  font-size: 14px;
}

.mc-preview-btn span {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #191c1d;
}
/* latest work css end */

.st-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.st-left {
  width: 29%;
}

.st-heading {
  font-size: 60px;
  line-height: 0.9;
  color: #000;
  font-weight: 400;
  font-style: italic;
}

.st-right {
  width: 69%;
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.st-tour-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.st-date h3 {
  font-size: 30px;
  font-weight: 400;
  color: #db8f00;
  font-style: italic;
}

.st-info {
  flex: 1;
}

.st-info span {
  font-size: 20px;
  color: #191c1d;
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.st-info p {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #44474c;
}

.st-actions {
  display: flex;
  align-items: center;
  gap: 28px;
}

.st-soldout-btn {
  border: none;
  background: #6d86a5;
  color: #d1e4ff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.st-ticket-btn {
  border: none;
  background: transparent;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  border-bottom: 1px solid #e9c176;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 700;
}

.st-details {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #74777d;
  cursor: pointer;
}
/* ticket css end */
.newsletter {
  text-align: center;
}

.newsletter h2 {
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 25px;
}

.newsletter input {
  border: 1px solid #c4c6cc;
  outline: none;
  padding: 18px;
  width: 500px;
  margin-bottom: 25px;
}

.newsletter p {
  font-size: 12px;
  letter-spacing: 3.6px;
  font-weight: 700;
}

/* newsletter css end */

/* responsive css */
@media (max-width: 767px) {
  .landing-area {
    flex-direction: column-reverse;
  }

  .right-side span {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .right-side h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .right-side h1 br {
    display: none;
  }

  .right-side p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .right-side .explore-wrapper {
    margin-bottom: 25px;
    gap: 8px;
  }

  .right-side .line {
    width: 40px;
  }

  .right-side .explore-btn {
    font-size: 12px;
  }

  .mc-card {
    flex-direction: column;
  }

  .mc-image-area,
  .mc-content {
    width: 100%;
  }

  .mc-content {
    padding: 15px;
  }

  .mc-content h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .mc-content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .mc-tags span {
    padding: 8px 10px;
    font-size: 9px;
  }

  .mc-tags {
    margin-bottom: 15px;
  }

  .mc-preview-btn {
    gap: 10px;
  }

  .mc-play-icon {
    width: 25px;
    height: 25px;
  }

  .mc-youtube-btn {
    width: 90px;
    height: 65px;
  }

  .mc-play-icon svg {
    font-size: 10px;
  }

  .mc-preview-btn span {
    font-size: 12px;
  }

  .st-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .st-left,
  .st-right {
    width: 100%;
  }

  .st-heading {
    font-size: 22px;
  }

  .st-heading br {
    display: none;
  }

  .st-date h3 {
    font-size: 20px;
  }

  .st-tour-box {
    flex-wrap: wrap;
    gap: 20px;
  }

  .st-info span {
    font-size: 14px;
  }

  .st-actions {
    gap: 14px;
  }

  .st-ticket-btn {
    font-size: 10px;
  }

  .st-details {
    font-size: 10px;
  }

  .newsletter h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .newsletter input {
    padding: 13px;
    width: 100%;
    margin-bottom: 15px;
  }

  .newsletter p {
    font-size: 10px;
  }
}

/* schedule page css starts */
.calendar-wrapper {
  position: relative;
  min-height: 700px;
}

.calendar-loader {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-size: 18px;
  z-index: 2;
}

.google-calendar-frame {
  border: none;
  transition: opacity 0.4s ease;
}

.calendar-hidden {
  opacity: 0;
}

.calendar-show {
  opacity: 1;
}

.enquiry-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.left-enq h2 {
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.left-enq p {
  font-size: 16px;
  color: #44474c;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 30px;
}

.helplines .mailer,
.helplines .caller {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.mail-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e9c176;
  border-radius: 12px;
}

.helplines .mailer span,
.helplines .caller span {
  font-weight: 500;
  font-size: 16px;
  color: #191c1d;
}

.inq-form {
  background: #ffffff;
  border-radius: 34px;
  padding: 42px 38px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.inq-group {
  margin-bottom: 20px;
}

.inq-group label {
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #44474c;
  margin-bottom: 10px;
}

.inq-group input,
.inq-group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 5px;
  font-size: 16px;
  background: transparent;
  color: #111;
  outline: none;
  font-family: inherit;
}

.inq-group input::placeholder,
.inq-group textarea::placeholder {
  color: #d9dadb;
}

.inq-row {
  display: flex;
  gap: 26px;
}

.inq-row .inq-group {
  flex: 1;
}

.inq-group textarea {
  resize: none;
  min-height: 110px;
}

.inq-btn {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 14px;
  background: #000000;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 2.4px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.inq-btn:hover {
  opacity: 0.9;
}

.best-songs h2 {
  font-size: 71px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-bottom: 25px;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s;
}

.video-wrapper iframe {
  width: 800px;
  height: 400px;
}

.video-wrapper {
  position: relative;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.news-card {
  position: relative;
  width: 320px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card p {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-card p svg {
  margin-right: 5px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 10px;
}

.news-image {
  width: 100%;
  height: 310px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.news-card:hover .news-image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: bottom 0.4s ease;
  border-radius: 12px;
}
.overlay span {
  font-size: 16px;
}

.news-card:hover .overlay {
  bottom: 0;
}

.release-slider {
  padding-bottom: 50px !important;
}

.release-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.release-slider .swiper-pagination-bullet {
  background: #000;
  opacity: 0.4;
  transition: 0.3s ease;
}

.release-slider .swiper-pagination-bullet-active {
  background: #f59e0b;
  opacity: 1;
}

.barry-banner img {
  width: 100%;
  display: block;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .inq-form {
    padding: 30px 22px;
    border-radius: 24px;
  }

  .inq-row {
    flex-direction: column;
    gap: 0;
  }

  .inq-group input,
  .inq-group textarea {
    font-size: 15px;
  }

  .inq-btn {
    letter-spacing: 3px;
  }

  .left-enq h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .left-enq p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .mail-icon {
    width: 35px;
    height: 35px;
  }

  .helplines .mailer,
  .helplines .caller {
    gap: 10px;
  }

  .helplines .mailer span,
  .helplines .caller span {
    font-size: 14px;
  }

  .best-songs h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

/* schedule page css end */

/* contact page css starts */
.contact-text h2 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-text p {
  color: #5e5e5e;
  font-size: 18px;
}

.ct-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.q-form {
  width: 59%;
}

.book-form {
  border: 1px solid #c4c7c7;
  padding: 20px;
  margin-bottom: 20px;
}

.p-book {
  width: 39%;
}

.q-form h3,
.p-book h3 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.form-group .form-input {
  width: 49%;
}

.form-input label {
  display: block;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 5px;
}

.form-input input,
.form-input textarea {
  border: 1px solid #747878;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

.form-input textarea {
  height: 115px;
  resize: none;
}

.form-input button {
  background: #000000;
  border: none;
  outline: none;
  padding: 12px 48px;
  color: #fff;
  letter-spacing: 1.2px;
}

.p-book p {
  font-size: 16px;
  color: #5e5e5e;
  margin-bottom: 20px;
}

.helpers .mail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.helpers .mail:last-of-type {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.helpers .mail p {
  margin-bottom: 0;
  font-weight: 400;
}

.helpers .mail:last-child {
  border-bottom: none;
}

.performance {
  border: 1px solid #c4c7c7;
  padding: 20px;
  margin-bottom: 30px;
}

.performance.working {
  background: #f3f3f3;
}

.performance.working .common-text {
  margin-bottom: 0;
}

.performance.working .common-text h3 {
  font-size: 16px;
  color: #000;
}

.performance.working .common-text h3:last-of-type,
.performance.working .common-text p:last-of-type {
  margin-bottom: 0;
}

.performance.resonbate img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.performance.resonbate p {
  margin-bottom: 0;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.icons {
  border: 1px solid #c4c7c7;
  padding: 20px;
  text-align: center;
}

.icons svg {
  font-size: 25px;
  margin-bottom: 5px;
}

.icons span {
  display: block;
  font-size: 14px;
}

@media (max-width: 767px) {
  .contact-text h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .contact-text p {
    font-size: 14px;
  }

  .ct-section {
    margin-top: 20px;
  }

  .q-form,
  .p-book {
    width: 100%;
  }

  .book-form {
    padding: 10px;
    margin-bottom: 10px;
  }

  .q-form h3,
  .p-book h3 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .form-group {
    gap: 10px;
    margin-bottom: 10px;
  }

  .form-group .form-input {
    width: 100%;
  }

  .form-input.mb-15 {
    margin-bottom: 10px;
  }

  .form-input button {
    width: 100%;
  }

  .social-media {
    margin-bottom: 15px;
  }

  .icons {
    padding: 10px;
  }

  .p-book p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .performance {
    padding: 10px;
  }
}
/* contact page css end */

/* music page css */
.latest-release img {
  width: 100%;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.song-card {
  background: #fff;
  border-radius: 14px;
  padding: 16px;
  border: 1px solid #ececec;
  transition: 0.3s ease;
}

.song-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.song-top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-image-wrap img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.play-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #5038ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.play-btn svg {
  color: #fff;
}

.song-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #111;
  margin-bottom: 6px;
}

.song-content p {
  font-size: 12px;
  color: #777;
}

.wave-row {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wave-box {
  color: #c3c3c3;
}

.wave-row span {
  font-size: 12px;
  color: #8a8a8a;
}

.song-footer {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.platforms {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}

.platform-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.platform-icon a {
  display: inline-flex;
}

.platform-icon a svg {
  color: #fff;
}

.platform-icon-amazon svg {
  color: #000 !important;
}

.dropdown-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-btn svg {
  font-size: 10px;
}

.platform-dropdown {
  position: absolute;
  left: 100px;
  bottom: -134px;
  width: 160px;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 10;
  height: 250px;
  max-height: fit-content;
  overflow-y: scroll;
}

.platform-dropdown a {
  padding: 8px 0;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: block;
}

.platform-dropdown a svg {
  margin-right: 5px;
}

.platform-dropdown a:hover {
  color: #5038ff;
}

.dropdown-btn:hover + .platform-dropdown,
.platform-dropdown:hover {
  opacity: 1;
  visibility: visible;
}

.heart-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #888;
}

.heart-btn:hover {
  color: #ff2d55;
}

.heart-btn svg {
  font-size: 26px;
}

.view-all {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.view-all a {
  text-decoration: none;
  color: #c59d5f;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  padding-right: 80px;
}

.view-all a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 65px;
  height: 2px;
  background: #c59d5f;
  transform: translateY(-50%);
}

@media (max-width: 1100px) {
  .songs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .songs-grid {
    grid-template-columns: 1fr;
  }

  .song-card {
    padding: 14px;
  }

  .song-content h3 {
    font-size: 14px;
  }

  .video-wrapper iframe {
    width: 360px;
    height: 180px;
  }

  .close-btn {
    top: -11px;
    right: 0px;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-weight: 700;
  }
}
/* music page css end */
