.landing-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.left-side img {
  width: 100%;
  display: block;
}

.right-side span {
  color: #e9c176;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 4.8px;
}

.right-side h1 {
  font-size: 128px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.right-side p {
  font-size: 16px;
}
